<div class="main-content">
    <div class="card" *ngIf="!isAddShow">
        <div class="card-header">
            <h4 class="card-title">Add New Images</h4>

        </div>
        <div class="card-body">
            <div class="card-body ">
                <form class="form-horizontal" name="productRegForm" #productRegForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Select Position</label>
                        <div class="col-md-2">
                            <div class="dropdown form-group">
                                <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                    name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">{{selectedPosition}}

                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-header">Select Position</div>
                                    <div *ngFor="let pos of positiion">
                                        <a class="dropdown-item" (click)="selectPosition(pos.name)">{{pos.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Select Image</label>
                        <div class="col-md-3">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="./assets/img/image_placeholder.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Select Image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" id="BannersImage" name="BannersImage"
                                            (change)="select($event)" />
                                    </span>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists"
                                        data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">

                    <div class="col-md-3 ml-auto">
                        <button type="submit" class="btn btn-info btn-round" [disabled]="!productRegForm.form.valid"
                            id="product-submit" (click)="saveBannersImage()">Submit</button> &nbsp;
                        <button type="submit" class="btn btn-info btn-round" (click)="cancelAddImage()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="isAddShow">
        <div class="card-header">
            <h4 class="card-title">Banners List</h4>
            <div class="col-md-2 ml-auto">
                <button type="submit" style="margin-top: -75px;" class="btn btn-info btn-round"
                    (click)="addNewImages()">Add New</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead class="">
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>
                                    Images List
                                </th>
                                <th>
                                    Position
                                </th>
                                <th class="text-center">Image</th>
                                <th>Status</th>
                                <th class="text-right">
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let web of webImage;let i=index">
                                <td></td>
                                <td>{{i+1}}</td>
                                <td>Slider</td>
                                <td>
                                    {{web.name}}
                                </td>
                                <td class="text-center">
                                    <div class="img-container">
                                        <img src="http://localhost:8090{{web.bannersimage}}">
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-success" *ngIf="web.status" (click)="deactiveBanners(i)">Active</button>
                                    <button class="btn btn-danger" *ngIf=!web.status (click)="activeBanners(i)">Deactive</button>
                                </td>
                                <td class="text-right">
                                    <!-- <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm"
                                        data-toggle="modal" data-target="#noticeModal">
                                        <i class="fa fa-edit"></i>
                                    </button> -->
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm "
                                        (click)="removeBannersImage(web.id)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>